.contain {
    color: #333333;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 20px;
}
.H {
  color: #000080;
  text-align: center;
}
.cont {
    display: flex;
    gap: 50px;
}
.box {
    display: inline-block;
}
.pre {
    width: 90%;
    font-size: 22px;
}
.contacts {
    padding-top: 30px;
}
.table {
    width: 30%;
    margin-left: 20px
}
body {
  background-image: linear-gradient(to right, #9ad2ff, #d1fac4);
}
.head {
    font-size: 24px;
    font-weight: bold;
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}